* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    width: 100%;
    height: 15vh;
    background-color: rgb(4, 7, 7);
    display: flex;
    justify-content: center;
}

#header {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

#logo {
    width: 30%;
}

#logo-img {
    width: 30%;
}

#nav1 {
    width: 60%;
    display: flex;
    justify-content: space-around;

}

.nav-link {
    text-decoration: none;
    font-size: 40px;
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.3s color ease-out;
}

.nav-link:hover {
    color: tomato;
}

/* main */

main {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}


/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 7, 7);
    width: 100%;
    height: 15vh;
}

#footer {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

#left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 80%;
}

#nav2 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-link2 {
    color: white;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.3s color ease-out;
}
.nav-link2:hover {
    color: rgb(223, 104, 7);
}

#logo2 {
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: space-between;
}

#vk {
    height: 70px;
    width: 70px;
}
#inst {
    height: 70px;
    width: 70px;
}

#right {
    display: flex;
    align-items: center;
    height: 80%;
    width: 40%;
}

#text {
    color: white;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}
@media (max-width: 1700px) {
    #logo2 {
        width: 40%;
    }
}

@media (max-width: 1500px) {
    .nav-link {
        font-size: 35px;
    }
    .nav-link2 {
        font-size: 20px;
    }
    #logo2 {
        width: 40%;
    }
    #vk {
        width: 65px;
        height: 65px;
    }
    #inst {
        width: 65px;
        height: 65px;
    }
}

@media (max-width: 1300px) {
    #header {
        width: 75%;
    }
    .nav-link {
        font-size: 33px;
    }
    footer {
        height: 14vh;
    }
    #logo2 {
        width: 43%;
    }
}

@media (max-width: 1200px) {
    #header {
        width: 75%;
    }
    .nav-link {
        font-size: 29px;
    }
    #footer {
        width: 85%;
    }
    #logo2 {
        width: 44%;
    }
    #vk {
        width: 60px;
        height: 60px;
    }
    #inst {
        width: 60px;
        height: 60px;
    }
    #right {
        width: 45%;
    }
    #text {
        font-size: 22px;
    }
}

@media (max-width: 1050px) {
    #header {
        width: 80%;
    }
    .nav-link {
        font-size: 25px;
    }
    .nav-link2 {
        font-size: 18px;
    }
    footer {
        height: 13vh;
    }
    #vk {
        width: 55px;
        height: 55px;
    }
    #inst {
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 900px) {
    #header {
        width: 83%;
    }
    .nav-link {
        font-size: 23px;
    }
    #text {
        font-size: 20px;
    }
    #logo2 {
        width: 48%;
    }
    #vk {
        width: 53px;
        height: 53px;
    }
    #inst {
        width: 53px;
        height: 53px;
    }
}

@media (max-width: 780px) {
    header {
        height: 13vh;
    }
    #header {
        width: 90%;
    }
    .nav-link {
        font-size: 20px;
    }
}

@media (max-width: 730px) {
    header {
        height: 12vh;
    }
    #header {
        width: 90%;
    }
    .nav-link {
        font-size: 17px;
    }
    #left {
        width: 35%;
    }
    #right {
        width: 50%;
    }
    .nav-link2 {
        font-size: 16px;
    }
    footer {
        height: 11vh;
    }
    #vk {
        width: 50px;
        height: 50px;
    }
    #inst {
        width: 50px;
        height: 50px;
    }
    #text {
        font-size: 20px;
    }
}
@media (max-width: 650px) {
    #text {
        font-size: 15px;
    }
}
@media (max-width: 560px) {
    header {
        height: 11vh;
    }
    #header {
        width: 90%;
    }
    .nav-link {
        font-size: 17px;
    }
    .nav-link2 {
        font-size: 15px;
    }
    #vk {
        width: 45px;
        height: 45px;
    }
    #inst {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 500px) {
    header {
        height: 13vh;
    }
    #header {
        width: 90%;
    }
    #nav1 {
        width: 70%;
    }
    .nav-link {
        font-size: 15px;
    }
    #logo {
        width: 35%;
    }
}

@media (max-width: 445px) {
    header {
        height: 11vh;
    }
    #header {
        width: 90%;
    }
    #nav1 {
        width: 73%;
    }
    .nav-link {
        font-size: 15px;
    }
    .nav-link2 {
        font-size: 13px;
    }
    #logo {
        width: 36%;
    }
    #text {
        font-size: 13px;
    }
    #left {
        width: 40%;
    }
}


